.btn-custom {
	text-transform: uppercase;
	color: #777;
	background-color: transparent;
	border: 2px solid #777;
	padding: 14px 20px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #ddd;
	border: 2px solid #d43031;
	background-color: #d43031;
}