<!DOCTYPE html>
<html lang="eng">
<style>
	body{
		text-align: center;
	}
</style>
	<body>
		<h2>My Post</h2>
		<form><label>Post 1</label>
			<br>
			<p> Please select your guest for Sakanaya at 12:00 PM, Nov. 28th, 2018</p>
			<div>
				<input type="radio" id="Post1_choice1" name="Post1_invi" value="Jack">
	  			<label for="Post1_choice1">Jack</label>
	  		</div>

	  		<div>
	  			<input type="radio" id="Post1_choice2" name="Post1_invi" value="Sarah">
	 			<label for="Post1_choice2">Sarah</label>
  			</div>
  			<div>
  				<button type="submit">Accept</button>
  			</div>
		</form>
		<br>
		<form><label>Post 2</label>
			<br>
			<p> Please select your guest for Craving at 12:00 PM, Nov. 27th, 2018</p>
			<div>
				<input type="radio" id="Post2_choice1" name="Post2_invi" value="Daniel">
	  			<label for="Post2_choice1">Daniel</label>
	  		</div>

	  		<div>
	  			<input type="radio" id="Post2_choice2" name="Post2_invi" value="James">
	 			<label for="Post2_choice2">James</label>
  			</div>
  			<div>
  				<button type="submit">Accept</button>
  			</div>
		</form>
	</body>
</html>