<!DOCTYPE html>
<html lang="eng">
<style>
	body{
		text-align: center;
	}
	input[type="radio"]{
		text-align: left;
	}
</style>
	<body>
		<h2>Test</h2>
		<p>In order to match the best mealmate for you, please answer the following test questions. "-->" means "jump to question" </p>
		
		<!--Reference: https://www.d1xz.net/test/shejiao/art249685.aspx-->
		<form>
			<ol>
            
                <li>
                
                    <h3>What do you think is the most romantic when you are with your love one?</h3>
                    
                    <div>
                        <label>Watch sunset and sunrise-->3 </label>
                        <br>
                        <label>Watch stars at night-->2 </label>
                        <br>
                        <label>Watch movie in a theather-->4 </label>
                        <br>
                    </div>
                
                </li>
                
                <li>
                
                    <h3>What you are facing a problem, do you have a feeling of hestitation?</h3>
                    
                    <div>
                        <label>Yes, that happens very often-->4 </label>
                        <br>
                        <label>No-->5 </label>
                        <br>
                        <label>In between, depends on specific situation-->3 </label>
                        <br>
                    </div>
                
                </li>
                
                <li>
                
                    <h3>In your opinion, what do you expect the attitude that a introverted person should have?</h3>
                    
                    <div>
                        <label>Talk less-->6 </label>
                        <br>
                        <label>Shy-->5 </label>
                        <br>
                        <label>Concised-->4 </label>
                        <br>
                    </div>
                
                </li>
                 <li>
                
                    <h3>In your opinion, at what age a person will show their restraining personality?</h3>
                    
                    <div>
                        <label>17,18 years old, early age-->6 </label>
                        <br>
                        <label>40 - 50 years old, mid age-->5 </label>
                        <br>
                        <label>60 years old, late age-->7 </label>
                        <br>
                    </div>
                
                </li>
         
                
                 <li>
                
                    <h3>In which emotional life, you don't have to disguise yourself, and open your heart?</h3>
                    
                    <div>
                        <label>With your girlfriend-->8 </label>
                        <br>
                        <label>With family-->9 </label>
                        <br>
                        <label>With friend-->7 </label>
                        <br>
                    </div>
                
                </li>
               
                <li>
                
                    <h3>What do you think a restrained person would do to show their restraining personality?</h3>
                    
                    <div>
                        <label>Thinking-->7 </label>
                        <br>
                        <label>communicating with people-->8 </label>
                        <br>
                        <label>No opinion-->10 </label>
                        <br>
                    </div>
                
                </li>

                 <li>
                
                    <h3>In your opinion, are introverted people destined to be boring? </h3>
                    
                    <div>
                        <label>Watch sunset and sunrise-->8 </label>
                        <br>
                        <label>Watch stars at night-->10 </label>
                        <br>
                        <label>Watch movie in a theather-->9 </label>
                        <br>
                    </div>
                
                </li>

                <li>
                
                    <h3>What kind of reason is easy to form an introverted personality?</h3>
                    
                    <div>
                        <label>Family-->10 </label>
                        <br>
                        <label>Afterbirth environment-->C </label>
                        <br>
                        <label>No opinion-->9 </label>
                        <br>
                    </div>
                
                </li>

                <li>
                
                    <h3>When a person reaches middle age, his personality is still very introverted. Do you think it can be changed?</h3>
                    
                    <div>
                        <label>Yes-->10 </label>
                        <br>
                        <label>No-->B </label>
                        <br>
                        <label>No opinion-->D </label>
                        <br>
                    </div>
                
                </li>

                <li>
                
                    <h3>If you are also a whisper, do you think it will form an introverted personality?</h3>
                    
                    <div>
                        <label>Yes-->C </label>
                        <br>
                        <label>No-->A </label>
                        <br>
                        <label>No opinion-->B </label>
                        <br>
                    </div>
                
                </li>

            
            </ol>
            	<h2> Please submit your final answer letter:</h2>
            	 <div>
                        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
                        <label for="question-1-answers-A">A </label>
                    </div>
                    
                    <div>
                        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
                        <label for="question-1-answers-B">B</label>
                    </div>
                    
                    <div>
                        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
                        <label for="question-1-answers-C">C</label>
                    </div>
                    
                    <div>
                        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
                        <label for="question-1-answers-D">D</label>
                    </div>
            <input type="submit" value="Submit" />
		</form>

		

	</body>
</html>