<!DOCTYPE html>

<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile_msgbox.css') }}">

</head>

<body>
    <div class="sidebar">
        <a href="/profile">Home</a>
        <a href="/preferences">Information about me</a>
        <a class="active" href="/messages">Message Box</a>
    </div>

    <div class="content">
            3
    </div>
</body>
</html>
